/* Genel Css Kodları */

:root {
    --kirikBeyaz: #EDF0F2;
    --beyaz: #FFFFFF;
    --siyah: #000000;
    --kirmizi: #E4003B;
    --lacivert: #0074C1;
    --hardal: #FFB307;
}

@font-face {
    font-family: 'TT Lakes Medium DEMO';
    src: url('../fonts/tt-lakes/subset-TTLakesMediumDEMO.woff2') format('woff2'),
    url('../fonts/tt-lakes/subset-TTLakesMediumDEMO.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Teko-medium';
    src: url('../fonts/teko/subset-Teko-Medium.woff2') format('woff2'),
    url('../fonts/teko/subset-Teko-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Teko-semi-bold';
    src: url('../fonts/teko/subset-Teko-SemiBold.woff2') format('woff2'),
    url('../fonts/teko/subset-Teko-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.kirmizi {
    color: var(--kirmizi);
}

html, body {
    color: var(--siyah);
    background: var(--kirikBeyaz);
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    font-family: 'Teko-semi-bold', serif;
}

a {
    text-decoration: none;
    font-family: 'TT Lakes Medium DEMO';
    font-size: 14px;
    color: var(--beyaz);
}


p {
    margin: 0;
    font-size: 14px;

}

h1, h2, h3 {
    color: var(--siyah);
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 36px;
}

h4 {
    font-size: 17px;

}

medium-36 {
    font-family: 'Teko-medium', serif;
}

medium-60 {
    font-family: 'Teko-medium', serif;
}

.fa, .fab, .fas, .far, fal {
    font-size: 14px;
}

section {
    padding: 80px 0;
}

ul {
    text-align: center;
}

ul li {
    display: inline-block;
    *display: inline; /*IE7*/
    *zoom: 1; /*IE7*/
}


/* slider */

.carousel-vertical {
    left: -68px;
    position: absolute;
    text-align: right;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 60px;
}

.carousel-header {
    width: 260px;
    position: absolute;
    text-align: center;
    font-size: 156px;
    color: var(--kirmizi);
    word-break: break-word;
    height: 76%;
    left: 13px;
}

.yetenek-yuzde {
    width: 260px;
     text-align: center;
    font-size: 156px;
    color: var(--kirmizi);
    word-break: break-word;

}

.slider p {
    position: absolute;
    margin: 0;
    font-size: 14px;
    top: 90%;
    word-break: break-word;
    width: 233px;
    left: 25px;
}


.nav-link {
    text-decoration: none;
    font-family: 'Teko-semi-bold', serif;
    font-size: 17px;
    color: var(--siyah);
    display: grid;
    justify-content: normal;
    padding-left: 2.5rem !important;

}


.navbar {
    transition: all .3s ease-in;
}

.navbar-nav {
    align-content: center;
}

.sabitMenu {
    background-color: var(--kirikBeyaz);
    opacity: 80%;
    box-shadow: 0 1px 10px var(--hardal);
}


body {

    height: 2000px;
}

/* slider */
.slider .container {
    position: relative;
}

.slider .carousel-control-next1 {
    position: absolute;
    top: 80% !important;
    bottom: 100% !important;
    right: 0 !important;
    padding: 0;
    margin: 0;
    z-index: 1;
    opacity: .5;
    border: none;
    transition: opacity .15s ease;
}

.slider .carousel-control-prev1 {
    position: absolute;
    top: 90% !important;
    bottom: 100% !important;
    right: 0 !important;
    padding: 0;
    margin: 0;
    z-index: 1;
    opacity: .5;
    transition: opacity .15s ease;
    border: none;
}

/* slider */
/* test */


.section3 {
    width: 1600px;
}

.section3 h2 {
    position: relative;
    bottom: 40px;
}

.yetenekler {
    position: relative;
    left: 40px;
    top: 50px;
}

.yetenekler h2 {
    position: relative;
    bottom: 0px;
}

.yetenekimg {
    position: relative;

    width: 508px;
    height: 309px;
}

.test {
    width: 1006px;
    padding-bottom: 40px;
}

.test p {
    position: relative;

    width: 459px;
}

.test a {
    position: absolute;
    text-decoration: none;
    font-family: 'Teko-semi-bold', serif;
    font-size: 17px;
    color: var(--siyah);
    padding-top: 30px;
}

.test a:hover {

    color: var(--kirmizi);
    transition: all .1s ease-in;
}

.test h4 {
    color: var(--kirmizi);
}

.
.gorev {
    width: 570px;

}

.gorev h1 {
    font-size: 174px;
    color: var(--beyaz);
}

/* background-color: #fff; */
/* background-clip: border-box; */
/* border: 1px solid rgba(0,0,0,.125); */
/* border-radius: 0.25rem;

/* Header */
/* Header */
/* Header */
/* Header */
